{% extends "layout.html" %}

{% block title %}
    edit
{% endblock %}


{% block content %}
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" />
  </head>
  <body>
    <div class="container-scroller">

      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
          <a class="navbar-brand brand-logo" href="admin.html"><img src="{{ url_for('static' , filename='static/images/logo-mini.svg') }}" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
                  <img src="{{ url_for('static' , filename='static/images/faces-clipart/pic-4.png') }}" alt="image">
                  <span class="availability-status online"></span>
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1 text-black">{{ username }}</p>
                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="#">
                  <i class="mdi mdi-cached me-2 text-success"></i> Activity Log </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                  <i class="mdi mdi-logout me-2 text-primary"></i> Signout </a>
              </div>
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="nav-profile-image">
                  <img src="{{ url_for('static' , filename='static/images/faces-clipart/pic-4.png') }}" alt="profile" />
                  <span class="login-status online"></span>
                  <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2">{{ username }}</span>
                  <span class="text-secondary text-small">Admin</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin_blogposts">
                <span class="menu-title">Blog Posts</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
          </ul>
        </nav>

        <div class="main-panel">
            <div class="content-wrapper">
              <div class="page-header">
                <h3 class="page-title">
                  <span class="page-title-icon bg-gradient-primary text-white me-2">
                    <i class="mdi mdi-home"></i>
                  </span> Dashboard
                </h3>
                <nav aria-label="breadcrumb">
                  <ul class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                      <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                    </li>
                  </ul>
                </nav>
              </div>
                <!-- Edit Comment  -->
                <div class="row">
                    <div class="container mt-5">
                        <div class="card">
                            <div class="card-header">
                                <h3>Edit Comment</h3>
                            </div>
                            <div class="card-body">
                                <form  method="post" >

                                    <div class="form-group">
                                        <label for="postTitle">Post Title</label>
                                        <textarea name="edited_post_title" type="text"  class="form-control" id="postTitle" >{{ title }}</textarea>
                                    </div>
                                    <div class="md-4">
                                        <label for="postContent">Post Content</label>
                                        <textarea id="editor" name="edited_post_content" class="form-control" id="exampleFormControlTextarea1" rows="7" >{{ content }}</textarea>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="{{ url_for('static' , filename='static/vendors/js/vendor.bundle.base.js') }}"></script>
    <script src="{{ url_for('static' , filename='static/vendors/chart.js/chart.umd.js') }}"></script>
    <script src="{{ url_for('static' , filename='static/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ url_for('static' , filename='static/js/off-canvas.js') }}"></script>
    <script src="{{ url_for('static' , filename='static/js/misc.js') }}"></script>
    <script src="{{ url_for('static' , filename='static/js/settings.js') }}"></script>
    <script src="{{ url_for('static' , filename='static/js/todolist.js') }}"></script>
    <script src="{{ url_for('static' , filename='static/js/jquery.cookie.js') }}"></script>
    <script src="{{ url_for('static' , filename='static/js/dashboard.js') }}"></script>


    <script>src="{{ url_for('static' , filename='static/js/bootstrap.js') }}"
        document.getElementById("loader").style.display ="none";
        function openTest() {
            document.getElementById("loader").style.display = "block";
        }
        document.getElementById('upload-submit').addEventListener('click', openTest);
    </script>


    <script>
        imgInp.onchange = evt => {
            const [file] = imgInp.files
            if (file) {
              blah.src = URL.createObjectURL(file)
            }
          }
    </script>
    <script>src="{{ url_for('static' , filename='static/js/bootstrap.js') }}"</script>
    
    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/42.0.1/ckeditor5.js",
                "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/42.0.1/"
            }
        }
    </script>


    <script type="module">
        import {
            ClassicEditor,
            Essentials,
            Bold,
            Italic,
            Font,
            Paragraph
        } from 'ckeditor5';
    
        ClassicEditor
            .create( document.querySelector( '#editor' ), {
                plugins: [ Essentials, Bold, Italic, Font, Paragraph ],
                toolbar: {
                    items: [
                        'undo', 'redo', '|', 'bold', 'italic', '|',
                        'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor'
                    ]
                }
            } )
            .then( /* ... */ )
            .catch( /* ... */ );
    </script>

{% endblock %}