{% extends "layout.html" %}

{% block title %}
    BLOG
{% endblock %}


{% block content %}

<style>
    body {
        margin: 0;
        padding: 0;
        background-image: url('static/images/ban9.jpg'); /* Replace with your image URL */
        background-repeat: repeat;
        background-attachment: initial;
        background-size: cover; /* Ensure the image is displayed at its original size */
    }
    .list-group {
        border: 8px !important; /* Optional: Remove border */
        border-color: darkblue ;
    }
</style>

<div class="row mt-6">
    <div class="col-9" style="padding-left:400px; padding-top: 50px;">
        <div class="list-group">

            {% for post in posts %}
                <a href="{{ url_for('postdetail', title=post.title ) }}" class="list-group-item list-group-item-action" aria-current="true" style="margin-top: 10px; border:3px; border-color:blue;">
                    <div class="d-flex w-100 justify-content-between">
                        <h2 class="mb-1" style="color: rgb(54, 2, 195); font-size: 26px;"><b>{{ post.title }}</b></h2>
                    </div>
                    <p class="mb-1 text-truncate" style="font-size: 18px;"> {{ post.content }} ... </p>
                    <p><b> Author : {{ post.author }} </b></p>
                    <small>{{ post.time_stamp }}</small>
                </a> 

            {% endfor %}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}