{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}


{% block content %}
    <div class="banner_section layout_padding">
      <div class="container">
        <h1 class="banner_taital">Welcome To My Web Application  </h1>

		<div class="service_section layout_padding" style="padding-top:10px; padding-right: 30px;">
			<div class="container" >
				<h1 class="about_text">Applications</h1>
				<p class="ipsum_text"></p>
				<div class="service_section_2">
					<div class="row">
						<div class="col-sm-8 col-lg-4" style="padding-top:13px; padding-left:65px;">
							<div class="icon_1"><img src="static/images/icon-3.png"></div>
							<h1 class="website_text" style="font-size:28px;"><a href="/login"><u>Face Analysis</u></a></h1>
							<p class="dolor_text">Analyze Face Attributes</p>
						</div>
						<div class="col-sm-10 col-lg-4" style="padding-top:9px; padding-left:26px;">
							<div class="icon_2" style="padding-left:128px; float:center;"><img src="static/images/icon-2.png"></div>
							<h1 class="website_text" style="font-size:29px; padding-top:40px;"><a href="/bmr"><u>BMR Calculator</u></a></h1>
							<p class="dolor_text" style="padding-top:1px;">Calculates the minimum number of calories that your body needs to perform basic functions </p>
						</div>
						<div class="col-sm-6 col-lg-4" style="padding-top:9px;">
							<div class="icon_3" style="padding-right:25px; float:center; text-align:center;  "><img src="static/images/icon-3.png"></div>
							<h1 class="website_text" style="font-size:28px;"><a href="/image_classification"><u>Image classification</u></a></h1>
							<p class="dolor_text">Classify image using YOLOv8 </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


  {% endblock %}