{% extends "layout.html" %}


{% block title %}
    register
{% endblock %}


{% block content %}


{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		{% for category , message in messages %}
			<div class="alert alert-{{ category }}" role="alert" style="padding-top:30px; padding-bottom:10px;">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


  <section class="myform-area" style="height:800px;  padding-bottom: 820px; padding-top:50px; margin-bottom:60px">
    <div class="container"  >
        <div class="row justify-content-center" >
            <div class="col-lg-12" >
                <div class="form-area login-form " style="padding-left: 350px; height:800px; padding-top:10px;">
                    <div class="form-input1">
                      <h1 style="color: black;">SignUp</h1>
                      <form method="POST">
                        <div class="form-group">
                          <input type="text" id="" name="firstname" required>
                          <label>Firstname</label>
                        </div>
                        <div class="form-group">
                          <input type="text" id="" name="lastname" required>
                          <label>Lastname</label>
                        </div>
                        <div class="form-group">
                          <input type="text" id="" name="username" required>
                          <label>username</label>
                        </div> 
                        <div class="form-group">
                          <input type="text" id="" name="age" required>
                          <label>Age</label>
                        </div>  
                        <div class="form-group">
                          <input type="email" id="" name="email" required>
                          <label>Email</label>
                        </div>                     
                        <div class="form-group">
                          <input type="text"  id="" name="city" required>
                          <label>city</label>
                        </div>
                        <div class="form-group">
                          <input type="text" id="" name="country" required>
                          <label>Country</label>
                        </div>
                        <div class="form-group">
                          <input type="password" id="" name="password" required>
                          <label>password</label>
                        </div>
                        <div class="form-group">
                          <input type="password" id="" name="confirm_password" required>
                          <label>Confirm Password</label>
                        </div>
                        <div class="myform-button">
                          <button class="myform-btn2">Submit</button>
                        </div>

                        {% with messages = get_flashed_messages(with_categories=true) %}
                          {% if messages %}
                            {% for category , message in messages %}
                              <h4 class="alert alert-{{ category }}" role="alert" style="padding-top:20px;">
                                {{ message }}
                              </h4>
                            {% endfor %}
                          {% endif %}
                        {% endwith %}

                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
